<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to image_tag("logo_RM_main.png", alt: "RoutineMaker"),  '/' %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/' %></li>
        <% if logged_in? %>
          <li><%= link_to "index", "index" %></li>
          <li><%= link_to "Profile", current_user%></li>
          <li><%= link_to "Log out", "logout", method: :delete %></li>
        <% else %>
          <li><%= link_to "about",  'about' %></li>
          <li><%= link_to "Log in", 'login' %></li>
        <%end%>
      </ul>
    </nav>
  </div>
</header>
